footer {
    border-top: .1rem solid var(--primary);
    padding: 7rem 0 5rem;

    .inner.foot-inner {
        display: flex;
        justify-content: space-between;
        max-width: 172rem;
        margin: auto;
        position: relative;
        gap: 5rem;

        .left {
            flex: 1;

            h3 {
                margin-bottom: 4rem;
            }

            .foot-lst-1 li {
                color: #5b5b5b;
                font-size: 1.3rem;
                line-height: 2.5rem;
            }
        }

        .center {}

        .right {
            flex: 1;

            .cs-box a {
                display: block;
                font-size: 3rem;
                color: var(--primary);
                margin-bottom: 1.7rem;
                font-weight: 400;
            }

            p {
                font-size: 1.4rem;
                color: #5b5b5b;
                line-height: 2.2rem;
            }

            .talk-btn {
                border: .1rem solid var(--primary);
                display: inline-block;
                padding: 1.4rem 7.2rem 1.3rem;
                font-size: 1.3rem;
                border-radius: 4.6rem;
                margin-top: 2rem;
                color: var(--primary);
                transition: all .3s;
            }
        }

        h4 {
            font-size: 1.8rem;
            color: var(--primary);
        }
    }
}