.TopBanner {
    position: fixed;
    width: 100%;
    background-color: var(--secondary);
    height: 4rem;
    color: #fff;
    text-align: center;
    z-index: 4;

    .swiper {
        height: 100%;

        a {
            display: block;
            height: 100%;
            line-height: 4rem;
        }
    }

    .closeBtn {
        position: absolute;
        right: 2rem;
        z-index: 5;
        top: 0;
    }
}