.app-container {
    &.up {
        .TopBanner {
            top: -30%;
        }
    }

    .Section {
        padding: 6rem 0;
    }

    .Section,
    header,
    footer {
        .inner {
            max-width: var(--maxw);
            height: 100%;
            position: relative;
            margin: auto;
        }
    }
}